:root {
    --primary-color: #000000;
    --accent1-color: #ffffff;
    --accent2-color: #c3c3c3;
    --accent3-color: #2c2c2c;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    height: 100vh;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main aside"
        "footer footer footer";
    grid-template-rows: auto 2fr 1fr auto;
    grid-template-columns: 2fr 2fr 1fr;
}

header {
    background: var(--accent3-color);
    color: var(--accent1-color);
    grid-column: 1 / 4;
}

header h1 {
    padding: 2rem;
    color: var(--accent1-color);
}

nav {
    padding: 2rem;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    grid-column: 1 / 4;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    display: inline;
}

main {
    padding: 2rem;
    background: var(--accent2-color);
    grid-column: 1 / 3;
}

aside {
    padding: 2rem;
    background: var(--accent1-color);
    grid-column: 3 / 4;
}

footer {
    padding: 2rem;
    background: var(--accent3-color);
    color: var(--accent1-color);
    text-align: center;
    grid-column: 1 / 4;
}
