@media screen and (min-width: 500px) {
    header {
        color: var(--accent1-color);
        background-color: var(--secondary-color);
    }

    main {
        grid-template-columns: 1fr 1fr;
    }
}
